<nav class="navbar navbar-expand-lg navbar-dark bg-info-subtle" style="height: 110px;">
    <a class="navbar-brand w-50 fs-1" href="#"><h1>Home Security</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <nav><a class="nav-link" aria-current="page" routerLink="/articulos"><h4>Incio</h4></a></nav>
          
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/compras"><h4>Servicios</h4></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/ventas"><h4>Quienes somos</h4></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/inventario"><h4>Mostrar Stock</h4></a>
        </li>
      </ul>
    </div>
  </nav>
