<div class="container">
    <div class="navbar">
  
      <img src="" class="logo">
      <h2 style="color: aliceblue;">Arte Viva</h2>
  
      <nav>
        <ul>
          <li><a href="" routerLink="/inicio">INICIO</a></li>
          <li><a href="" routerLink="/gallery">GALERIA</a></li>
          <!--
          <li><a href="" routerLink="/estudiante">ESTUDIANTES</a></li>
          <li><a href="" routerLink="/asignaturas">ASIGNATURAS</a></li>
          <li><a href="" routerLink="/matriculas">MATRICULAS</a></li>
          <li><a href="" routerLink="/rolestudiante">RolEstudiante</a></li>
          <li><a href="" routerLink="/horarios">HORARIO</a></li>
          -->
        </ul>
      </nav>
      <img src="" class="menu-icon">
    </div>
  </div>
