<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="height: 800px;">

  <div class="carousel-inner">
    <div class="carousel-item active" >
      <img src="assets/image2home.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" >
      <img src="assets/image1home.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" >
      <img src="assets/image2home.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  
</div>

 
