<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="height: 800px;">
  <div class="carousel-inner">
    <div class="carousel-item active" >
      <img src="assets/image2home.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" >
      <img src="assets/image2home.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" >
      <img src="assets/image2home.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

<div style="justify-content: center;  display: flex;  margin-bottom: 5rem;">
  <div class="card" style="width: 60rem;">
    <div class="card-body">
      <h2 class="card-title" style="text-align: center;">Mision</h2>
      <p class="card-text" style="font-size: 20px; text-align: center;">Nuestra misión es proporcionar soluciones integrales de seguridad a nuestros 
        clientes, ofreciendo instalación de cámaras de seguridad de última tecnología y servicios de monitoreo
         confiables. Nos comprometemos a proteger a las personas, propiedades y activos de nuestros clientes, 
         brindando tranquilidad y seguridad en sus entornos residenciales, comerciales e industriales.</p>
    </div>
  </div>
</div>
<div style="justify-content: center;  display: flex; margin-bottom: 5rem;">
  <div class="card" style="width: 60rem; ">
    <div class="card-body">
      <h2 class="card-title" style="text-align: center;">Vision</h2>
      <p class="card-text" style="font-size: 20px; text-align: center;">Nuestra visión es ser líderes en el sector de instalación de cámaras de seguridad,
         reconocidos por nuestra excelencia en servicio al cliente, innovación tecnológica y profesionalismo. 
         Nos esforzamos por expandir nuestro alcance a nivel nacional e internacional, estableciendo alianzas 
         estratégicas y adaptándonos continuamente a las necesidades cambiantes del mercado. Buscamos ser la 
         primera opción para aquellos que buscan proteger lo que más valoran, a través de soluciones de 
         seguridad confiables y efectivas.</p>
    </div>
  </div>
</div>

 
